@model dynamic
@{
    ViewData["Title"] = "Task1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Task1</h1>
<h2>Кількість різних діагнозів, які поставив лікар - @Model.specialization = @Model.result</h2>