@model dynamic
@{
    ViewData["Title"] = "Task2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Task2</h1>

<h2>
    Прізвища лікарів із найбільшою кількістю невиписаних пацієнтів у @Model.departamentNumber відділенні: @Model.doctorsSurnames
</h2>
 